{% extends 'base.html' %}
{% block title %}Order Details{% endblock title %}
{% block content %}

<div class="container mx-auto px-4 py-8">
    <div class="bg-white shadow-md rounded-lg p-6">
        <!-- <h2 class="text-2xl font-semibold mb-4">Order ID: {{ order.id }}</h2> -->
        <div class="mb-4">
            <p><strong>Status:</strong> {{ order.status }}</p>
            <p><strong>Total Price:</strong> ${{ order.total_price }}</p>
            <p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
        </div>
        <h3 class="text-lg font-semibold mb-2">Products:</h3>
        <ul>
            {% for product in order.products.all %}
            <li class="flex justify-between items-center py-2 border-b border-gray-200">
                <span>{{ product.name }}</span>
                <span>${{ product.price }}</span>
                <span>${{ product.id }}</span>
            </li>
            {% endfor %}

        </ul>
        <!-- <a href="{% url 'add_feedback' product_id=order.id %}">Feedback on the product</a> -->

    </div>
</div>

{% endblock content %}