{% extends 'base.html' %}
{% block title %}Product Details{% endblock title %}
{% block content %}

<div class="container mx-auto">
    <div class="border rounded-lg p-5 md:w-[500px] mx-auto m-2">
        <div>

            <div>
                <img src="{{ product.image.url }}" alt="{{ product.name }}"
                    class="w-1/2 md:1/4 lg:w-[400px] w-[300px] mx-auto">
            </div>
            <p class="font-bold mt-5 text-[18px] text-center">{{product.name}}</p>
            <p class="mt-5">{{ product.description }}</p>
            <p class="mt-3">Price: <span class="font-bold text-red-600">{{ product.price }}</span></p>
            <p><strong>Stock Quantity:</strong> {{ product.stock_quantity }}</p>

            <p><strong>Product Ranking:</strong> {{product.sales_ranking}}
            </p>
            <a href="{% url 'add_feedback' product_id=product.id %}">Feedback on the product</a>

            <div class="flex items-center flex-wrap justify-between">
                <div class="flex mt-3">
                    <button class="bg-blue-500 font-bold text-white px-2 py-1 rounded-md" onclick="openModal()">Buy
                        Now</button>
                    <!-- <button class="btn-add-to-cart-btn bg-green-500 font-bold text-white mx-2 px-2 py-1 rounded-md"
                        type="button" data-product-id="{{product.id}}">Add to
                        Cart</button> -->
                    <form action="{% url 'add_to_cart' product.id %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="bg-green-500 font-bold text-white mx-2 px-2 py-1 rounded-md">Add to
                            Cart</button>
                    </form>
                </div>
                <a href="{% url 'cart' %}" class="text-indigo-500 inline-flex items-center md:mb-2 lg:mb-0">View
                    Cart
                    <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none"
                        stroke-linecap="round" stroke-linejoin="round">
                        <path d="M5 12h14"></path>
                        <path d="M12 5l7 7-7 7"></path>
                    </svg>
                </a>
            </div>
        </div>
    </div>
</div>


<div id="myModal" class="modal hidden fixed inset-0 z-50 overflow-auto bg-gray-800 bg-opacity-50">
    <!-- Modal content -->
    <div class="modal-content bg-white w-1/3 mx-auto mt-20 p-8 rounded-lg">
        <span class="close absolute top-0 right-0 text-gray-400 cursor-pointer" onclick="closeModal()">&times;</span>
        <p class="text-xl font-semibold text-center text-green-500">Success!</p>
        <p class="text-center mt-4">Your order has been successfully placed.</p>
        <button class="bg-blue-500 text-white px-4 py-2 rounded-md mt-6 mx-auto" onclick="closeModal()">Close</button>
    </div>
</div>

{% endblock content %}