{% extends 'base.html' %}
{% block title %}User Registration{% endblock title %}
{% block content %}

<div class="container mx-auto w-3/4 md:w-1/2 lg:w-1/2">
    <div class="shadow-lg m-10 p-5">
        <h2 class="text-center mb-5">Register</h2>
        <hr />
        <form method="POST" class="mt-3">
            {% csrf_token %}
            {% for field in form %}
            <div class="mb-3">
                <label for="{{ field.id_for_label }}">{{ field.label }}</label><br>
                {{ field }}
                {% if field.errors %}
                <p class="text-red-500 text-sm">{{ field.errors }}</p>
                {% endif %}

            </div>
            {% endfor %}
            <button class="bg-blue-600 px-5 py-2 text-white rounded-lg font-bold" type="submit">Register</button>
        </form>
    </div>
</div>

{% endblock content %}